<h2>Users known to Smart Home.</h2>
<p>These users have logged into smart home at some point.</p>

<p>Deleting a user will remove their registered devices, but <b>not</b> their
roles, to do this visit <a href="https://dwylauth.herokuapp.com">Auth</a>
</p>

<br>

<table>
  <%= for user <- @users do %>
    <tr>
      <td><%= user.email %> (admin)</td>
      <td> <a class="button" href="<%= Routes.user_path(@conn, :show, user) %>">
        View
      </a></td>
    </tr>
    <% end %>
</table>
